.navbar,
.navbar-default {
    background: rgb(82, 58, 40) !important;
    background: linear-gradient(270deg, rgba(82, 58, 40, 1) 31%, rgba(177, 128, 90, 1) 79%, rgba(208, 180, 159, 1) 100%) !important;
    color: black !important;
}

.navbar-default .Navbar.Brand h1 {
    color: red !important;
}

.nav-link {
    color: black !important;
}

#NavDropDownDiv .nav-link:hover {
    background-color: white !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.dropdown-menu {
    background: rgb(178, 129, 91) !important;
    background: linear-gradient(270deg, rgba(178, 129, 91, 1) 33%, rgba(208, 180, 159, 1) 99%) !important;
    border-color: linear-gradient(270deg, rgba(178, 129, 91, 1) 33%, rgba(208, 180, 159, 1) 99%) !important;
}

.linkNav {
    color: black !important;
    text-decoration: none !important;
}